<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- the meta tags came from the bootstrap website-->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel= "stylesheet" type ="text/css" href= "../static/jumbotron.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
    <title>About the Project</title>



  
  </head>

  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>About the Project</h1>
        <p><a href = "/" class="btn btn-primary btn-lrg" "Success" href="/" role="button">Home &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- class help style in css -->
      <div class="row", style = "color: navajowhite;">
        <div class="col-md-4">
          <h2>Purpose</h2>
          <p>Mindreader is intended to be virtual platform made for gathering cogntive data. The inspiration to this project came from experience modifying mechanical turk experiments for Professor Charles Kemp, with the intention to make the study comprehensible to random users. Certain questions were muddled when explicitly asked, so the goal is that the game format is able to clarify the user's cognitive dispositions for the experiment regarding the natural way people reason about thoughts and beliefs.  </p>
        </div>
        <div class="col-md-4">
          <h2>Games With A Purpose (GWAP)</h2>
          <p>Recently with the rise of the open mind initiative, games are beginning to be looked at more as opportunities to extract rigourous cognitive data. After all, if we were to sum up all of the time spent by Americans last year performing complex mental algorithms, we would have millions of hours of data to be analyzed.</p>
          <p class="lead">
              <a href="http://www.gwap.com/" class="btn btn-small btn-default" style="height:50px;width:220px">Click here for more information!
              </a>
            </p>
       </div>
        <div class="col-md-4">
          <h2>About the creator</h2>
          <img src="../static/seanpic.jpg" alt="Sean Moore">
          <p>Sean Moore is a Freshman enrolled at CMU currently studying Cognitive Science. Although he never learned any web development wihile enrolled in 15-112, he was very thankful to learn the technical means to learn more about how to program and eventually build projects.</p>
        </div>
      </div>

      <hr>

      
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
