<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The meta tags here came from the bootstrap website -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title> Mindreader -- The Game </title>

    <!-- Bootstrap core CSS from the website-->

    <!-- I made cover.css from the cover example in the bootstrap website -->
    <link rel= "stylesheet" type ="text/css" href= "../static/cover.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


            <!-- Latest compiled and minified JavaScript from bootstrap website -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Custom styles for this template... came from the static folder-->
    <link href="../static/cover.css" rel="stylesheet">


  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">A Game With a Purpose</h3>
              <nav>
                <ul class="nav masthead-nav" style= "color:  firebrick;">
                  <li><a href="/about">About the Project</a></li>

                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading" style= "color: firebrick; font-size: 60px" >Mindreader</h1>
            
            <p class="lead" style= "color: firebrick;">  Your cognition is your greatest tool in the game of Mindreader. When in the audience you will be rewarded points for answering True or False trivia questions. But the real magic happens if make enough points and get to compete on stage. </p>
          </div>
          <p class="lead">
              <a href="/begin" class="btn btn-lg btn-default" style="height:50px;width:500px">Play
              </a>
            </p>
          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    
  </body>
</html>
